
body {
    background-color: #F2EAE4;
}
@font-face {
    font-family: 'Chalkboy';
    src: url('"C:\Users\julia\OneDrive\Documenten\school\hva\Lieve Groene Stad\LieveGroeneStad\chalkboy.zip".woff2') format('woff2');
}
/* navigatie met foto */
header {
    position: relative;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    font-size: 26px;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 0;
    right: 0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* plaatjes groente */
.aub {
    width: 100px;
    height: auto;
}

/* Flexbox-container voor Aubergines aan de linkerkant */
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px; 
}



/* Stijlen voor de aubergine-afbeeldingen */
.aub, .aub2 {
    width: 10%;
    height: auto;
    
}

/* Stijlen voor de ,ais-afbeeldingen */
.mai, .mai2 {
    width: 20%;
    height: auto;
    
}


h1 {
    font-family: 'Chalkboy';
    text-align: center; /* Om de tekst horizontaal te centreren */
}