
body {
    background-color: #F2EAE4;
}
@font-face {
    font-family: 'Chalkboy';
    src: url('"C:\Users\julia\OneDrive\Documenten\school\hva\Lieve Groene Stad\LieveGroeneStad\chalkboy.zip".woff2') format('woff2');
}
/* navigatie met foto */
header {
    position: relative;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
}

header nav ul li {
    background-color: #F1B442;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
}

header nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Chalkboy';
    font-size: 16px;
}


header nav ul li {
    margin: 10px;
}

/* plaatjes groente */


/* Flexbox-container voor Aubergines aan de linkerkant */
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px; 
}



/* Stijlen voor de aubergine-afbeeldingen */
.aub, .aub2 {
    width: 10%;
    height: auto;
    
}

/* Stijlen voor de mais-afbeeldingen */
.mai, .mai2 {
    width: 20%;
    height: auto;
    
}

/* header tekst */
h1 {
    font-family: 'Chalkboy';
    text-align: center; /* Om de tekst horizontaal te centreren */
}

/* footer */
.footer nav {
    background-color: #D9B89C;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    font-size: 14px;
    justify-content:center;
    
  }

.footer nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.footer nav ul li {
    margin: 10px;
}

.footer nav a {
    color:black;
}

.footer img { 
    background-color: #D9B89C;
    padding: 10px;
    padding-left: 7em;
    padding-right: 7em;
    text-align: center;
       
}
footer p {
    text-align: center;
}

/* main page styling */

.intro img {
    width: 300px; 
    height: auto; 
    margin: 10%;
    margin-bottom: 1px;
    margin-top: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
}

main p { 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
}

.intro p {
    background-color: #9CA364;
    padding: 20px;
    border-radius: 10px;
}

.intro2 {
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.intro2 p {
    background-color: #F2B3B9;
    padding: 20px;
    border-radius: 10px;
    margin: 0; 
    text-align: center; 
    width: 70%;
    margin-bottom: 20px;
}

.intro2 img {
    max-width: 50%; 
    border-radius: 10px; 
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
}


/* pagina 2 */

.about p {
    background-color: #F2B3B9;
    padding: 20px;
    border-radius: 10px;
}

.tekstje {
    position: relative;
}

.tekstje img {
    width: 100%; 
}

.tekstje p {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-65%, -95%); 
    color:black; 
    font-weight: bold;
}

.product1 {
    display: flex; /* Zet de container om in een flex-container */
    align-items: center; /* Centreer de items verticaal */
}

.product1 img {
    margin: 20px;
    margin-right: -5px;
    width: 120px; 
    height: 120px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
    z-index: 1;
}


.product1 p {
    background-color: #9CA364;
    padding: 27px;
    padding-right: 50px;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product2 {
    display: flex; /* Zet de container om in een flex-container */
    align-items: center; /* Centreer de items verticaal */
}

.product2 img {
    margin: 20px;
    margin-right: -5px;
    width: 120px; 
    height: 120px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
    z-index: 1;
}


.product2 p {
    background-color: #9CA364;
    padding: 27px;
    padding-right: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product3 {
    display: flex; /* Zet de container om in een flex-container */
    align-items: center; /* Centreer de items verticaal */
}

.product3 img {
    margin: 20px;
    margin-right: -5px;
    width: 120px; 
    height: 120px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
    z-index: 1;
}


.product3 p {
    background-color: #9CA364;
    padding: 27px;
    padding-right: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* pagina 3 */
.zerowaste p{
    background-color: #F2B3B9;
    padding: 10px;
    border-radius: 10px;
}

.store {
    display: flex;
    justify-content: center;
}

.store img {
    width: 60%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
    border-radius: 10px;
}

.tekstje2 {
    position: relative;
}

.tekstje2 img {
    width: 100%; 
}

.tekstje2 p {
    position: absolute;
    top: 18px; /* Plaats de tekst aan de bovenkant van de container */
    left: 45%; 
    transform: translateX(-50%); /* Centreer de tekst horizontaal */
    color: black; 
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 0px;
}

.vergelijkbaar p{
    background-color: #F2B3B9;
    padding: 10px;
    border-radius: 10px;
}

.plekken {
    display: flex;
    justify-content: center;
    background-color: #9CA364;
    width: 50%;
    padding: 10px;  
    border-radius: 10px;
    margin-left: 22.5%
}

.fotootje {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotootje img {
    width: 80%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(197, 148, 54, 0.5);
    border-radius: 10px;
}
