
/* navigatie met foto */
header {
    position: relative;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    font-size: 26px;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 0;
    right: 0;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* plaatjes groente */
.aub {
    width: 100px;
    height: auto;
}

/* Flexbox-container voor Aubergines aan de linkerkant */
.flex-container-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px; 
}

/* Flexbox-container voor Mais aan de rechterkant */
.flex-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

/* Stijlen voor de Aubergine-afbeeldingen */
.aub, .aub2 {
    width: 100px;
    height: auto;
    
}

/* Stijlen voor de Mais-afbeeldingen */
.mai, .mai2 {
    width: 80px;
    height: auto;
    
}